* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #239B56;
    padding: 120px;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: #17202A;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    transition: all 500ms ease;
}

nav a:hover {
    color:#239B56;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

aside {
    flex: 30px;
    background-color: gray;
    padding: 20px;
}

section {
    flex: 70%;
    background-color: white;
    padding: 20px;
    font-size: 30px;
    justify-content: center;
}

.productos1 {
    background-color: blanchedalmond;
    text-decoration: none;
    color:black;
}



footer {
    padding: 20px;
    text-align: center;
    background-color: #17202A;
}

.textofooter {
    color: #239B56;
    font-size: 40px;
}

.imgfooter {
    padding: 10px;
    width: 70px;
}

footer p {
    color: white;
}



@media only screen and (min-width:320px) and (max-width: 768px)
{
   header {
      
      padding: 300px 0;
    } 
   
   .produc2 {
     width: 700px;
   }

  .productos2 {
    display: inline-flex;
    justify-content: center;
    background-color: #17202A ;
    border-radius: 20px;
    font-size: 30px;
    padding: 3%;
    margin: 10px;
}
}


.productos2 {
    display: inline-flex;
    justify-content: center;
    background-color: #17202A ;
    border-radius: 20px;
    font-size: 25px;
    padding: 3%;
    margin: 10px;
    transition: all .5s;
}

.productos2:hover {
    transform: scale(1.1);
}

.produc2 {
    width: 210px;
}

h3 {
    color: white;
    text-decoration: none;
    transition: all 500ms ease;
}

a {
    justify-items: center;
    text-decoration: none;
}

h3:hover {
    color:#239B56;
}